[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
    branch = v4.0-stable
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/lwb4/mbedtls.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/lwb4/SDL.git
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/lwb4/SDL_ttf.git
[submodule "deps/SDL_mixer"]
	path = deps/SDL_mixer
	url = https://github.com/lwb4/SDL_mixer.git
[submodule "deps/SDL_image"]
	path = deps/SDL_image
	url = https://github.com/lwb4/SDL_image.git
[submodule "deps/libwebsockets-ios"]
	path = deps/libwebsockets-ios
	url = https://github.com/lwb4/libwebsockets-ios
