[submodule "deps/libwebsockets"]
	path = deps/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
    branch = v4.0-stable
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
